body {
    padding: 0 20px;
    background-color: #eee;
}

pre {
    pointer-events: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#container {
    position: relative;
}

#output_container {
    position: absolute;
    top: 0;
    left: 520px;
}

#input {
    position: absolute;
    top: 0;
    left: 10px;
    width: 500px;
    height: 500px;
    outline: 1px solid #aaa;
    background: white;
}

#pressureCircle {
    background: red;
    border-radius: 100%;
    width: 2px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}